body
{
    margin:0;
    background-image: url("/home/user/Desktop/jqueryform/images/comp.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}